@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hanson";
    src: url("/fonts/Hanson.otf");
}

.selected {
	color: #0db7ff;
}

body {
	background: black;
}

html {
	background-color: black;
}

::-webkit-scrollbar {
	border-radius: 100px;
	width: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 100px;
	background: black;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: #ffffff23;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff48;
}
